/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}
.wrapper {
  background-image: url(assets/crew/background-crew-desktop.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.bold {
  font-weight: 900;
}

.container {
  width: 75%;
  margin: auto;
  position: relative;
}

.flex {
  display: flex;
  align-items: center;
}
.jusity_between {
  justify-content: space-between;
}

a {
  text-decoration: none;
}
.col-2 {
  width: 50%;
}
.relative {
  position: relative;
}
.w-full {
  width: 100%;
}
li {
  list-style: none;
}
.items-start {
  align-items: start;
}
p {
  color: #ffffffa1;
  font-family: "Saira Semi Condensed", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  width: 80%;
}
/* header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0px;
  letter-spacing: 1px;
}

.logo {
  margin-left: 4rem;
}

.navigation {
  height: 100px;
  width: 60%;
  background: #4e5c7339;
  backdrop-filter: blur(15px);
  padding: 2rem;
  position: relative;
  overflow: visible;
}
.navigation::after {
  content: "";
  top: 50%;
  left: -45%;
  width: 50%;
  background: #ffffff31;
  height: 1px;
  position: absolute;
}

.navigation > ul > li {
  list-style: none;
}

.navigation > ul > li > a {
  color: #fff;
  margin: 0px 3rem;
  font-style: 18px;
  font-family: sans-serif;
  font-family: "Saira Semi Condensed", sans-serif;
}

.navigation > ul > li > a > span {
  font-family: "Ubuntu", sans-serif;
}

a.header_active {
  border-bottom: 2px solid #fff;
  padding-bottom: 35px;
}

.paragraph1 {
  color: #fff;
  display: block;
  text-transform: uppercase;
  margin: 0;
  padding-top: 150px;
  font-size: 24px;
  font-family: "Saira Semi Condensed", sans-serif;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  display: block;
  margin: 0;
  font-size: 120px;
  font-family: "Cormorant Garamond", serif;
  display: grid;
}
.hero_divider_right {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero_divider_left > h2 {
  font-size: 15px;
  color: #fff;
  font-family: sans-serif;
  text-transform: uppercase;
}
.hero_divider_left {
  height: 70vh;
  font-size: 15px;
}
.hero_divider_left > img {
  position: absolute;
  right: 20%;
  bottom: -10%;
}
.destination_nav > a {
  color: #fff;
  margin-right: 50px;
  padding-bottom: 5px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  text-transform: uppercase;
}
.hero_divider_right > h2 {
  color: #fff;
  font-size: 30px;
  padding: 45px 0px 4px 0px;
  text-transform: uppercase;
  font-family: "Saira Semi Condensed", sans-serif;
  letter-spacing: 1.5px;
}
.hero_divider_right > p {
  padding-bottom: 40px;
}
.destination_data > h5,
h3 {
  color: #fff;
}
.destination_data {
  padding-right: 45px;
  padding-top: 20px;
}
a.active_destination_nav {
  border-bottom: 2px solid #fff;
}
.carousel-dots {
  display: flex;
  position: absolute;
  bottom: 15%;
  width: 100%;
}
.carousel-dot {
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background-color: gray;
  border: none;
  cursor: pointer;
}

.carousel-dot.active {
  background-color: #fff;
}
.fade {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: visible;
}
.fade::-webkit-scrollbar {
  display: none;
}
.single-item {
  flex: 0 0 auto;
  width: 100%;
  margin-right: 10px;
  scroll-snap-align: start;
  padding-bottom: 2%;
}
